# OS
.DS_Store
Thumbs.db

# Python interpreter
venv

# Editors and IDEs
.idea
*.sublime*
.vscode

# Node, npm, yarn and log files
node_modules/
.npmrc
*.log*

# Helping stuff
/.pnp
.pnp.js

# Transpiled code
build/
dist/

# Local config files
*.env

# Mock data
src/mock/

# Temporary files
~*
